
/* Elastislide Style */
.es-carousel-wrapper{
  padding:10px 0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	position:relative;
}
.es-carousel{
	overflow:hidden;
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:-30px;
	width:14px;
	height:14px;
	margin-top:-7px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:-30px;
	left:auto;
}
.es-nav span:hover{
	opacity:1.0;
}
